@font-face {
  font-family: "Changa-Bold";
  src: url("../fonts/changa/ArbFONTS-Changa-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Changa-Regular";
  src: url("../fonts/changa/ArbFONTS-Changa-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Changa-Medium";
  src: url("../fonts/changa/ArbFONTS-Changa-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Changa-SemiBold";
  src: url("../fonts/changa/ArbFONTS-Changa-SemiBold.ttf");
  font-weight: 600;
}

$reg : "Changa-Regular";
$medium: "Changa-Medium";
$semiBold : "Changa-SemiBold";
$bold : "Changa-Bold";
$mainColor: #355692;
$darkBlue: #091C3F;

/* global rules */


body {
  font-family: $reg;
  text-align: start;
  direction: rtl;
  background-color: #f5f5f5;
}


.custom-select {
  height: auto;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: none;
  outline: none;
  background: #fff url(../imgs/dropdown.png) no-repeat left 1rem center;
  background-size: 8px;
  font-size: 13px;
}

.form-group {
  label {
    font-family: $medium;
    font-size: 16px;
    margin-bottom: 9px;
  }

  input {
    display: block;
    width: 100%;
    padding: 7px;
    border-radius: 4px;
    border: 1px solid #CBCBCB;
    box-shadow: none !important;
    outline: none !important;

    &::placeholder {
      font-size: 13px;
      color: #515151;
    }
  }
}

.gender {
  background-color: #EAEEF4 !important;
  justify-content: space-around;
  padding: 6px 0px;

  input {
    width: 16px;
    height: 16px;
    margin-inline-end: 7px;
  }
}

.add_wrapper {
  button {
    background-color: $mainColor !important;
    border-color: $mainColor !important;
    outline: none !important;
    box-shadow: none !important;
  }
}

.attach_wrapper {
  position: relative;

  input[type="file"] {
    position: relative;
    z-index: 10;
    opacity: 0;
  }

  input[type="text"] {
    position: absolute;
    top: 0;
    right: 0;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.heading {
  color: $darkBlue;
  position: relative;
  font-family: $semiBold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 14px;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 49px;
    height: 4px;
    background-color: $mainColor;
    border-radius: 10px;
  }
}

.sadad_link {
  background-color: $mainColor;
  border-radius: 8px;
  padding: 4px 14px;
  color: #fff;
  text-decoration: none;
  margin-inline-start: 8px;
}

.sadad_link:hover {
  color: #fff;
}

.cancel_link {
  background-color: #DC3A08;
  padding: 4px 8px;
  color: #fff;
  border-radius: 8px;
  margin-inline-start: 8px;
}

.padding_top {
  padding-top: 141px;
}


.breadcrumb {
  padding: 0;
  margin-bottom: 24px;
  background-color: transparent;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: '';
  background-image: url(../imgs/bread_arrow.png);
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-position: center;
}

.breadcrumb-item a {
  font-size: 12px;
  color: #88898A;
  font-family: $bold;
}

.breadcrumb-item.active {
  display: flex;
  align-items: center;
  color: $darkBlue;
  font-family: $bold;
  font-size: 12px;
}

.breadcrumb-item {
  display: flex;
  align-items: center;
}


.main_link {
  display: block;
  width: 100%;
  color: #fff;
  background-color: $mainColor;
  border: none;
  padding: 8px;
  border-radius: 4px;
  outline: none !important;
  text-align: center;
}

/*benefits */
.benifits_wrapper {
  margin-top: 50px;
  overflow: hidden;

  .stepper_header {
    background-color: #869ABE;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    border-radius: 16px 16px 0 0;
    padding: 32px 64px;
    justify-content: space-between;

    @media(max-width:575px) {
      padding: 24px 16px;
    }

    .step {
      position: relative;
      width: 20%;

      @media(max-width:991px) {
        width: 50%;
        flex-direction: row !important;
        margin-bottom: 16px;

        &:last-of-type {
          margin: 0;
        }
      }

      img {
        position: relative;
        z-index: 2;
        background-color: #869ABE;
        width: 40px;
        height: 40px;
        padding: 4px;

        @media(max-width:991px) {
          margin-inline-end: 6px;
        }

        @media(max-width:575px) {
          width: 30px;
          height: 30px;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 32%;
        left: -55%;
        width: 100%;
        height: 2px;
        border: 1px dashed #677898;

        @media(max-width:991px) {
          display: none;
        }
      }

      .step_content {
        background-color: #869ABE;
        width: fit-content;
        padding: 0px 24px;
        position: relative;
        z-index: 2;
        color: #677898;
        font-family: $bold;
        text-align: center;

        @media(max-width:991px) {
          padding: 0;
          text-align: start;
        }

        @media(max-width:575px) {
          font-size: 13px;
        }
      }
    }

    .step:last-of-type {
      &::after {
        display: none;
      }

      .step_content {
        // margin-inline-start: auto;
      }


    }

    .step.active {
      &::after {
        border: 1px dashed #fff;
      }

      .step_content {
        color: #fff;
      }
    }

  }

  .user_reg_form {
    padding-top: 64px;
    background-color: #fff;
    border-radius: 0 0 16px 16px;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
    margin-bottom: 32px;
    padding-bottom: 6px;

    .form_wrapper {
      width: 75%;
      margin: auto;
      padding: 24px 0;

      h5 {
        font-weight: 600;
        font-size: 14px;
        margin-bottom: 24px;
      }

      form {
        .form-group {
          display: flex;
          flex-direction: column;

          label {
            font-weight: 600;
            font-size: 14px;
          }

          .input-group-prepend {
            position: absolute;
            top: 10px;
            right: 10px;

            .input-group-text {
              background-color: transparent;
              box-shadow: none;
              border: none;
              padding: 0;
              border-left: 1px solid #ccc;
              border-radius: 0;
              direction: ltr;
              padding-inline-start: 10px;
              font-size: 13px;
            }

          }

          #basic-url {
            padding-inline-start: 58px !important;
          }

          #basic-url,
          input {
            display: block;
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            box-shadow: none;
            outline: none;

            &::placeholder {
              font-size: 13px;
              color: #515151;
            }
          }

          .gender {
            background-color: #35569299;
            justify-content: space-around;
            padding: 6px 0px;

            input {
              width: 16px;
              height: 16px;
              margin-inline-end: 7px;
            }
          }
        }

        .submit {
          button {
            width: 100%;
            border: none;
            background-color: #355692;
            color: #fff;
            padding: 8px;
            border-radius: 4px;

          }
        }

        .login {
          text-align: center;

          a {
            font-weight: 600;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#form {
  max-width: 100%;
  margin: 25px auto 0;
  direction: ltr;

  input {
    margin: 0 5px;
    text-align: center;
    line-height: 80px;
    font-size: 50px;
    border: solid 1px #ccc;
    box-shadow: 0 0 5px #ccc inset;
    outline: none;
    width: 25%;
    transition: all .2s ease-in-out;
    border-radius: 4px;
    margin-bottom: 24px;

    &:focus {
      border-color: #869ABE;
      box-shadow: 0 0 5px #869ABE inset;
    }

    &::selection {
      background: transparent;
    }
  }

  button {
    margin: 30px 0 50px;
    width: 100%;
    padding: 6px;
    background-color: #355692;
    border: none;
    text-transform: uppercase;
  }

  button {
    &.close {
      border: solid 2px;
      border-radius: 30px;
      line-height: 19px;
      font-size: 120%;
      width: 22px;
      position: absolute;
      right: 5px;
      top: 5px;
    }
  }
}

.code_wrapper {
  width: 700px;
  margin: auto;
  max-width: 100%;
  padding: 0 15px;

  h6 {
    font-weight: bold;
    margin-bottom: 16px;

  }

  p {
    color: #ccc;
  }

  a {
    font-weight: 600;
    text-decoration: underline;
    color: #355692;
  }

  .resend {
    direction: rtl;

    a {
      text-decoration: underline;
      font-weight: 600;
      color: #355692
    }

    span {
      color: #ccc;
      font-weight: 600;
    }
  }
}


/*user_data_form*/

.user_data_form {
  legend {
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 24px;

    .step_number {
      display: flex;
      align-items: center;

      span.active {
        background-color: #869ABE;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        margin-inline-end: 6px;
      }

      span.total {
        border: 1px solid #869ABE;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #869ABE;
        margin: 0px 6px;
      }
    }
  }

  .btn-primary.next {
    display: block;
    color: #fff;
    background-color: $mainColor;

  }

  /*error class */
  .form-group.has-error {

    .help-block {
      color: #f00;
    }

    input {
      border-color: #f00;
    }
  }
}


/*wizard */

.step_field {
  display: none;
}

.step_field.active {
  display: block;
}





/*Navigation Bar */

.navbar {
  background-color: $mainColor;
  width: 100%;
  z-index: 999;
  padding: 17px 0;

  .navbar-brand {
    padding: 0;
    margin: 0;

    @media(max-width:1200px) {
      img {
        width: 80px
      }
    }
  }

  .navbar-nav {
    padding-inline-start: 40px;

    @media(max-width:1200px) {
      padding-inline-start: 24px;
    }

    .nav-item {
      .dropdown-menu {
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
        border-radius: 8px 0 8px 8px;
        padding: 0;
        text-align: start;
        width: 216px;
        left: auto;
        border: none;
        overflow: hidden;

        .dropdown-item {
          padding: 8px 40px;
          font-size: 14px;
          color: $darkBlue;
          font-family: $medium;
          transition: .2s all ease-in-out;

          &:nth-child(1) {
            padding-top: 22px;
          }

          &:last-child {
            padding-bottom: 16px;
          }

          &:hover {
            background-color: #E1E6EF;
            color: $mainColor;
          }
        }
      }

      .dropdown-toggle::after {
        border: none;
        background-image: url(../imgs/arrow_down.png);
        width: 19px;
        height: 8px;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 20px;
      }

      .nav-link {
        color: #fff;
        line-height: 20px;
        display: flex;
        align-items: center;
        padding-right: 8px;
        padding-left: 8px;
        font-family: $medium;

        @media(max-width:1200px) {
          padding-right: 8px;
          padding-left: 8px;
          font-size: 14px;
        }
      }
    }
  }

  .nav_actions {
    .search {
      margin-inline-end: 12px;

      @media(max-width:1200px) {
        margin-inline-end: 24px;

        img {
          width: 51px;
        }
      }

    }

    .login {
      a {
        color: #fff;
        text-decoration: none;

        @media(max-width:1200px) {
          font-size: 14px;
        }
      }
    }

    .logged_user {
      .dropdown-toggle {
        background-color: transparent;
        border: none;
        color: #fff;
        font-family: $semiBold;
        outline: none;

        &::after {
          display: none;
        }
      }

      .dropdown-menu {
        float: none;
        left: auto;
        right: 0;
        width: 216px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
        border-radius: 8px 0 0 8px;
        text-align: right;
        padding: 1rem 0;

        a {
          color: $darkBlue;
          padding: 0;
          font-family: $semiBold;
          font-size: 14px;
          line-height: 24px;
          padding: 8px 25px;
          transition: .3s all ease-in-out;

          img {
            margin-inline-end: 7px;
          }
        }

        a:hover {
          background-color: #E1E6EF;

          span {
            color: $mainColor;
            font-family: $reg;
          }

          img {
            opacity: .5;
          }
        }

        a:last-of-type {
          margin: 0;
        }
      }
    }

    .separator {
      margin: 0 16px;
    }
  }
}


/*slider*/

.slider {
  margin-top: 95px;

  .carousel {
    .carousel-caption {
      position: absolute;
      right: auto;
      bottom: auto;
      left: 50%;
      z-index: 10;
      padding-top: 20px;
      padding-bottom: 20px;
      color: #fff;
      text-align: center;
      top: 50%;
      transform: translate(-50%, -50%);

      h5 {
        font-size: 40px;
        font-family: $semiBold;
        margin-bottom: 56px;
        line-height: 24px;
      }

      p {
        margin-bottom: 32px;
        font-size: 20px;
        line-height: 30px;
        font-family: $semiBold;
      }

      a {
        padding: 12px 90px;
        background-color: $mainColor;
        display: inline-flex;
        align-items: center;
        color: #fff;
        border-radius: 4px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 16%);

        span {
          margin-inline-end: 16px;
          font-size: 20px;
          font-family: $semiBold;
        }
      }
    }

    .carousel-control-next,
    .carousel-control-prev {
      opacity: 1;
    }
  }
}


.step_field .next {
  width: 100%;
  border: none;
  background-color: #355692;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  display: block;
  margin-bottom: 32px;
}

.character_row {
  display: flex;
  flex-direction: row-reverse;
  text-align: start;
  justify-content: space-between;

  @media(max-width:991px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .char_img {
    @media(max-width:991px) {
      margin-bottom: 16px;
      margin-inline-end: 16px;
    }

    .specify_img {
      position: relative;
      border-radius: 12px;
      width: 140px;
      height: 140px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid transparent;

      @media(max-width:425px) {
        width: 110px;
        height: 110px;
      }

      input {
        position: absolute;
        margin: 0 !important;
        right: 10px;
        top: 10px;
        width: 20px !important;
        z-index: 11;
        height: 20px;

        @media(max-width:425px) {
          width: 15px !important;
          height: 15px !important;
        }
      }
    }

    img {
      width: 100%;
      height: 100%;
    }

    h5 {
      font-size: 16px;
      text-align: center;
      margin-top: 6px;
      font-family: $semiBold;
      color: #AAB0BB;
    }
  }

  .char_img.active {
    .specify_img {
      border: 2px solid #295DBC;
    }

    h5 {
      color: $mainColor;
    }
  }

}


/*my guarantees*/

.guarantee_header {
  .departments {
    .box {
      margin-inline-end: 32px;
      width: 109px;
      text-decoration: none;

      .img {
        background-color: #E1E5EB;
        border-radius: 16px;
        margin-bottom: 14px;
        width: 109px;
        height: 109px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
      }

      h5 {
        color: $darkBlue;
        font-size: 14px;
        font-family: $semiBold;
      }
    }

    .box.active {
      .img {
        background-color: #B2C0D9;
        border: 2px solid #3F6CBF;
      }

      h5 {
        color: #3F6CBF;
        font-family: $medium;
      }
    }

    @media(max-width:1200px) {
      flex-wrap: wrap;

      .box {
        margin-bottom: 16px;
      }
    }

    @media(max-width:575px) {
      justify-content: space-between;

      .box {
        margin-inline-end: 0;
      }
    }
  }
}

/*my data */

.my_data {
  padding: 45px 0;
}

/*data table customization */

.dataTables_length,
#table_id_filter {
  display: none;
}

#table_id {
  border-radius: 16px 16px;
  overflow: hidden;

  thead {
    tr {
      background-color: #eee;

      th {
        padding: 24px 4px;
        text-align: center;
        color: #88898A;
        font-size: 15px;
        font-family: $semiBold;
      }
    }
  }

  tbody {
    text-align: center;
    background-color: #fff;

    tr {
      td {
        padding: 22px 8px;
        border-left: 1px solid #DEDEDE;
        border-bottom: 1px solid #dedede;
        font-size: 14px;
        font-weight: 600;
        color: #040C1B;
      }

      .active_td span {
        background-color: rgba($color: #C2EE96, $alpha: 62%);
        padding: 4px 8px;
        font-family: $reg;
        border-radius: 8px;
        display: block;
        color: #318800;
      }

      .cancel_td span {
        background-color: #F9C9C9;
        padding: 4px 8px;
        font-family: $reg;
        border-radius: 8px;
        display: block;
        color: #BC0909;
      }

      .expired_td span {
        background-color: #FFDDA3;
        padding: 4px;
        font-family: $reg;
        border-radius: 8px;
        display: block;
        color: #D58700;
      }
    }

    tr.canceled {
      background-color: #FFE8E8;
    }

    tr.expired {
      background-color: #FFFAF0;
    }
  }

}

.dataTables_info {
  display: none;
}

#table_id_previous a,
#table_id_next a {
  background-color: transparent;
  border: none;
}

.page-link {
  background-color: transparent;
  border: none;
  color: #C6C6C6;
  font-family: $semiBold;
  box-shadow: none !important;
}

.page-item.active .page-link {
  background-color: transparent;
  border: none;
  color: $darkBlue;
  font-family: $semiBold;

}

.pagination {
  justify-content: center !important;
  margin-top: 26px !important;
  padding: 0;
  flex-direction: row-reverse;
  align-items: center;
}

/*sadad*/

.sadad {
  tr.expired {
    background-color: #fff !important;

    .expired_td {}
  }
}

/*kafala_modal*/


.kafala_modal {
  .modal-dialog {
    max-width: 620px;

    .modal-content {
      padding: 46px 58px 40px;

      @media(max-width:575px) {
        padding: 50px 0px 40px;

      }

      .modal-header {
        border: none;

        .heading {
          font-size: 20px;

          @media(max-width:575px) {
            font-size: 16px;

          }

          &::after {
            width: 105px;

            @media(max-width:575px) {
              width: 80px;
            }
          }
        }

        .close {
          position: absolute;
          top: 23px;
          right: 23px;
          outline: none;
        }
      }

      .modal-body {
        padding: 0 16px;

        form {
          .form-group {
            label {
              font-family: $medium;
              color: #3B3B3B;
            }

            input,
            select {
              color: #AAB0BB;
              font-family: $semiBold;
              font-size: 14px;

              &::placeholder {
                color: #AAB0BB;
              }
            }
          }
        }
      }

      .modal-footer {
        padding: 0 16px;
        border: none;
        margin-top: 8px;

        button.btn {
          display: block;
          width: 100%;
          background-color: $mainColor;
          border-color: $mainColor;
          color: #fff;
          font-family: $semiBold;
        }
      }

    }
  }
}


.cancel_kafala {

  .active_td span,
  .expired_td span {
    width: 50%;
  }
}

/*makfoul_data*/

.makfoul_data {
  .data_wrapper {
    border-radius: 8px 8px 0 0;
    overflow: hidden;

    @media(max-width:767px) {
      flex-wrap: wrap;
    }
  }

  .right_part,
  .left_part {
    flex-basis: 50%;
    max-width: 100%;

    @media(max-width:767px) {
      flex-basis: 100%;
    }

    .header {
      padding: 24px 32px;
      background-color: #99AAC8;
      color: #fff;

      img {
        width: 17px;
        height: 22px;
        margin-inline-end: 12px;
      }

      span {
        font-size: 18px;
        font-family: $semiBold;
      }
    }

    .data_content {
      padding: 16px 32px;

      ul {
        li {
          margin-bottom: 12px;
          display: flex;
          align-items: center;

          h5 {
            flex-basis: 40%;
            font-size: 18px;
            color: #88898A;
            font-family: $semiBold;
            margin: 0;
          }

          span {
            flex-basis: 60%;
            font-family: $semiBold;
            color: #040C1B;
          }
        }
      }
    }
  }

  .actions {
    a {
      background-color: $mainColor;
      color: #fff;
      padding: 10px;
      border-radius: 4px;
      margin-bottom: 16px;

      img {
        margin-inline-end: 10px;
      }

      span {
        font-family: $semiBold;
      }
    }

    .cancel_btn {
      background-color: transparent;
      border: 1px solid #DC3A08;
      color: #DC3A08;
    }
  }
}

.payments_data {
  .payment_done {
    background-color: #D9F4BE;
    border-radius: 8px;
    line-height: 24px;
    color: #318800;
    border-color: #D9F4BE;
  }
}

.late_payments_data {
  .payment_cancel {
    background-color: transparent;
    border: 1px solid #DC3A08;
    color: #DC3A08;

  }
}

/*notification_wrapper*/

.benifits_wrapper .notification_wrapper {
  padding-top: 48px;
  border-radius: 16px;
}

.form_wrapper form.notification_form .form-group {
  align-items: center;

  input[type="checkbox"] {
    width: auto;
    margin-inline-end: 8px;
  }

  label {
    margin: 0;
    font-weight: normal !important;
  }
}



.specify_char {
  width: 900px;
  direction: rtl;

  .main_link {
    display: block;
    color: #fff;
    background-color: $mainColor;
  }

  h6 {
    color: #AAB0BB;
    font-family: $semiBold;
    margin-bottom: 40px;
  }
}


/*profile_wrapper*/

.profile_wrapper {
  padding: 32px 0;

  .profile_header {
    overflow: auto;
    border: none;
    padding: 24px 0;

    .nav-item {
      margin: 0;
      display: inline-flex;

      @media(max-width:991px) {
        margin-bottom: 16px;
      }
    }

    a {
      background-color: #fff;
      border-radius: 16px;
      box-shadow: 0 3px 6px rgba($color: #000000, $alpha: .16);
      color: #AAB0BB;
      font-family: $medium;
      line-height: 30px;
      margin-inline-end: 8px;
      padding: 8px 16px;
      text-decoration: none !important;
    }

    a.active {
      background-color: $mainColor;
      color: #fff;
    }
  }

  .tab-content {
    .tab-pane {
      background-color: #fff;
      padding: 24px 40px 64px 40px;
      border-radius: 16px;

      @media(max-width:575px) {
        padding: 24px 15px 24px 15px;
      }

      form {
        width: 700px;
        max-width: 100%;
      }
    }

    #benefits_data {
      background-color: transparent;
      padding: 0;
      position: relative;

      .add_bnf {
        padding: 6px 32px;
        background-color: $mainColor;
        display: inline-block;
        border-radius: 4px;
        color: #fff;
        position: absolute;
        left: 0;
        top: -67px;
        line-height: 30px;
      }
    }
  }
}

.date_cell {
  width: 60%;

  @media(max-width:991px) {
    width: auto;
  }
}

.pick_date {
  img {
    position: absolute;
    left: 15px;
    top: 9px;
    height: 20px;
  }

  .date_input {
    position: absolute;
    top: 0;
    z-index: 10;
    display: flex;
    flex-direction: row-reverse;
    text-align: right;
    opacity: 0;
  }
}



/*zakat_wrapper*/

.zakat_wrapper {
  padding: 40px;
  background-color: #fff;
  border-radius: 16px;

  .zakat_content {
    padding: 16px 40px;
    border: 1px solid #DBDBDB;
    background-color: #F8F8F8;
    border-radius: 8px;
    margin-bottom: 24px;
  }

  h5 {
    font-size: 20px;
    color: #040C1B;
    font-family: $medium;
  }

  li {
    margin-bottom: 6px;
    display: flex;
    align-items: center;

    img {
      margin-inline-end: 10px;

    }

    span {
      color: #88898A;
    }
  }

  .add_food {
    line-height: 30px;
    font-family: $medium;
    background-color: $mainColor;
    padding: 6px 40px;
    color: #fff;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 4px;

    img {
      margin-inline-end: 12px;
    }
  }
}


/*urgent_needs_form*/

.urgent_needs_form {
  width: 850px !important;
  max-width: 100%;
}